@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <p>
                The purpose of a comic book store is to provide a dedicated space for comic book enthusiasts to browse, buy, and collect comic books and related merchandise. Comic book stores typically offer a wide selection of titles from various publishers and genres, 
                including superhero comics, manga, graphic novels, and more.
                In addition to selling comic books, many comic book stores also offer related merchandise such as t-shirts, action figures, and other collectibles.
                These stores can also serve as community hubs for comic book fans, hosting events such as author signings, comic book clubs, and gaming tournaments.
                Comic book stores play an important role in supporting the comic book industry by providing a retail outlet for publishers and creators to sell their work. 
                They also provide a space for readers to discover new titles and connect with other fans of the medium.
                Overall, the purpose of a comic book store is to serve as a destination for comic book enthusiasts, 
                providing a welcoming environment for readers of all ages and backgrounds to explore and enjoy the world of comic books.
                That is what our busines lives up
            </p>
            <div class="col-6 offset-md-3">
            <img src="~/lib/Comic_pics/Comic.jpg" class="img-fluid" alt="Your Image" height="500px" width="600px" />
            </div>

        </div>
    </div>
</div>
