@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <img src="http://www.babycouture.in/blog/wp-content/uploads/2016/06/superheroes.jpg" class="img-fluid" alt="Your Image">
        </div>
    </div>
</div>
