@{
    ViewData["Title"] = "location";
}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-5">
            <h1> Location</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-4">
            <p>Visit the store closest to you and pick up your favourite comic</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 offset-md-2">
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=13R60seOAmpzGkbhtZm3z84DGRhGyGOQ&ehbc=2E312F" width="840" height="480"></iframe>
    </div>
</div>
</div>


